# Capstone Project - The Battle of Neighborhoods:  (Week1): Part2

<a id='item1'></a>

## 1. Data Collection : Initial dataset

Paris has a total of 20 boroughs and 80 neighborhoods. In order to segement the neighborhoods and explore them, we will essentially need a dataset that contains the 20 boroughs and the neighborhoods that exist in each borough as well as the the latitude and logitude coordinates of each neighborhood.

This dataset exists for free on the web.Here is the link to the dataset: https://www.data.gouv.fr/fr/datasets/quartiers-administratifs/quartier_paris.csv

### Data Cleaning

Let's take a quick look at the initial dataset.

In [5]:
df.head()

,N_SQ_QU,C_QU,C_QUINSEE,Neighborhood,Borough,N_SQ_AR,PERIMETRE,SURFACE,Geometry X Y,Geometry,Longitude,Latitude
0,750000036,36,7510904,Rochechouart,9,750000009,2862.450525,5.004354e+05,"48.8798119198,2.344861291","{""type"": ""Polygon"", ""coordinates"": [[[2.349708...",2.344861,48.879812
1,750000047,47,7511203,Bercy,12,750000012,6155.005036,1.902932e+06,"48.8352090499,2.38621008421","{""type"": ""Polygon"", ""coordinates"": [[[2.391141...",2.386210,48.835209
2,750000002,2,7510102,Halles,1,750000001,2606.417128,4.124585e+05,"48.8622891081,2.34489885831","{""type"": ""Polygon"", ""coordinates"": [[[2.349365...",2.344899,48.862289
3,750000015,15,7510403,Arsenal,4,750000004,2878.559656,4.872649e+05,"48.851585175,2.36476795387","{""type"": ""Polygon"", ""coordinates"": [[[2.368512...",2.364768,48.851585
4,750000018,18,7510502,Jardin-des-Plantes,5,750000005,4052.729521,7.983894e+05,"48.8419401934,2.35689388962","{""type"": ""Polygon"", ""coordinates"": [[[2.364561...",2.356894,48.841940

**Below the initial dataset after data cleaning:**

In [8]:
neighborhoods.head()

   Borough        Neighborhood   Latitude  Longitude
0        9        Rochechouart  48.879812   2.344861
1       12               Bercy  48.835209   2.386210
2        1              Halles  48.862289   2.344899
3        4             Arsenal  48.851585   2.364768
4        5  Jardin-des-Plantes  48.841940   2.356894

### Using Foursquare API to explore the neighborhood Restaurants

Paris neighborhoods geographical coordinates data will be utilized as input for the Foursquare API, that will be leveraged to provision venues information for each.
We will select only food category with the Id=4d4b7105d754a06374d81259.

#### The final dataframe named as Paris_restaurants is structured as following:

In [23]:
Paris_restaurants.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Rochechouart,48.879812,2.344861,Mamiche,48.880112,2.343699,Bakery
1,Rochechouart,48.879812,2.344861,Pizza di Loretta,48.880634,2.344011,Pizza Place
2,Rochechouart,48.879812,2.344861,Pain Pain,48.883651,2.339841,Bakery
3,Rochechouart,48.879812,2.344861,Lakshmi Bhavan,48.881077,2.344232,Indian Restaurant
4,Rochechouart,48.879812,2.344861,Corso Trudaine,48.881794,2.345264,Italian Restaurant

**Later this dataframe will be clustered using k-means into 5 clusters for Paris restaurants further analysis.**